body {
    background:url(/images/bg.jpg) repeat;
    color:#fff;
    color:rgba(255,255,255,098);
    padding-top:100px;
    text-align: center;
}
h1 {
    font-family: 'Finger Paint', cursive;
    font-size:50px;
    margin-bottom:40px;
    line-height: 0;
}
.tagline {
    font-family: 'Finger Paint', cursive;
    margin-bottom:60px;
}

#play {
    margin:0 auto 80px;
    display: inline-block;
  font-family: Arial;
  color: #ddd;
  font-size: 30px;
  padding-top: 25px;
  padding-right: 45px;
  padding-bottom: 25px;
  padding-left: 45px;
  text-decoration: none;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-box-shadow: 0px 1px 5px #111;
  -moz-box-shadow: 0px 1px 5px #111;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
  border: solid #111 0px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#444), to(#222));
  background: -moz-linear-gradient(top, #444, #222);
  background-color: #222;
  background-repeat: repeat-x;
  font-weight: bold;
    cursor: pointer;
    cursor: hand;

      -webkit-transition: all 0.3s ease-out;  /* Safari 3.2+, Chrome */
     -moz-transition: all 0.3s ease-out;  /* Firefox 4-15 */
       -o-transition: all 0.3s ease-out;  /* Opera 10.5–12.00 */
          transition: all 0.3s ease-out;  /* Firefox 16+, Opera 12.50+ */
}
#play:hover {
  background-position:0 -30px;
  color:#fff;
}
#play[disabled] {
    background:none;
    background-color:#222;
    color:#666;
}
#play[disabled]:hover {
  background-position:0 0;
    color:#666;
}

.share {
    margin:0 auto;
    width:500px;
    padding-left:70px;
}
.share .share-btn {
    text-align: left;
    float:left;
    width:120px;
    height:20px;
}